h1 {
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
}

a {
    color: purple;
    font-size: 16px;
    font-weight: 700px;
}

#start {
    background-color: lightblue;
    font-size: 20px;
    margin: auto;

}

p {
    text-align: center;
    margin: auto;
}

#btn {
    background-color: lightblue;
}

body {
    text-align: center;
    background-color: #eeeeee  ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

#timer {
    float:right;
}

.answer {
    color: purple;
}

#A {
    color:purple;
}

#B {
    color:purple;
}

#C {
    color:purple;
}

#D {
    color:purple;
}